frontend/node_modules/
datos/*.jsonl
backend/flask_session/
backend/__pycache__/
datos/*.pdf
datos/*.bin
datos/*.npy
datos/*.txt
datos/*.model
backend/*.txt
backend/*.log
polaridad/__pycache__/
polaridad/logs
polaridad/*.txt
datos/*.pt

