/*
  Autor: Paula Ezpeleta, Javier Vallés
  Fecha de creación: Marzo/Abril/Mayo 2023
  Descripción: fichero de la aplicacion ZgzInfo
*/

  .chart-container {
    margin-top: 60px;
    height: 300px;
  }
  

  .chart-container-2 {
    width: 300px;
    height: 170px;
  }
  
  .chart-container-3 {
    width: 600px;
    height: 300px;
  }

  @media screen and (max-width: 768px) {
    .chart-container {
      width: 160px;
      height: 150px;
    }
  }
  
  